/* Place your CSS styles in this file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
:root{
    --hue: 188;
    --first-color: hsl(var(--hue), 53.8%, 31.4%);
    --first-color-alt: hsl(var(--hue), 80%, 56%);
    --first-color-alt-2: hsl(var(--hue), 60%, 56%);
    --first-color-light: hsl(var(--hue), 60%, 35%);
}
.cursor{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: var(--first-color-light);
  border-radius: 50px;
  box-shadow: 0 0 30px var(--first-color);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform .2s ease-out,
              left .2s ease-out,
              top .2s ease-out,
              width .3s,
              height .3s;

}
.hide-cursor{
  width: 0;
  height: 0;
}
@media (pointer: coarse){
  .cursor{
    display: none;
  }
}
.body1{
    width: 100%;
    background-color: #fff8e7d3;
    /*background-image: url(Langit.jpg);
    background-size:cover;*/
    background-repeat:repeat-y;
    background-position:bottom;
    background-attachment: fixed;
   
}
body{
    width: 100%;
    background: 
        url(Batik.jpg) repeat,
        linear-gradient(#FFF8E7, #FFF8E7);
    
    background-size:cover;
    background-repeat:repeat-y;
    background-position:bottom;
    background-attachment: fixed;
    

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 5%;
    background-color:  #8D6E63;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 10px black;
}
.logo{
    font-size: 30px;
    color: #E07A5F;
    transition: 0.3s ease;
    font-weight: 600;
    font-family: fantasy;
}
.logo:hover{
    color: #A8E6CF;
    text-shadow: 0 0 25px #A8E6CF,
                 0 0 25px #A8E6CF;
    transform: scale(1.1);
}
.logo span{
    color: #A8E6CF;
    font-family: fantasy;
}
.nav-item a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    font-family: fantasy;
}
.nav-item a:hover,
.nav-item a.active{
    color: #A8E6CF;
    text-shadow: 0 0 25px #E07A5F,
                 0 0 25px #E07A5F;
}
.nav-item2{
    display: none;                      
}
.contact{
    padding: 10px 28px;
    background-color: #E07A5F;
    color: white;
    border: 2px transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: #A8E6CF;
    box-shadow: 0 0 15px #a4dec9;
    color: #5C5C5C;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex: wrap;
    align-items: center;
    gap: 10em;
    /*padding: 30px 12% 0;*/
    justify-content: space-around;
    overflow-x: scroll;
}
.home::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.home-content{
    max-width: 500px;
}
.home-content h3{
    font-size: 42px;
    text-align: center;
    font-family: 'comic sans ms';
    color: #5C5C5C;
}
.home-content span{
    color: #E07A5F;
    font-family: 'comic sans ms';
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
    text-align: center;
    color: #8D6E63;
}
.home-content h2{
    font-size: 36px;
    text-align: center;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    text-align: center;
    color: #5C5C5C;
}
.home2{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:3em;
    /*padding: 30px 12% 0;*/
    justify-content: space-around;
    background-color: #D8B597;
    
    
}
.home2-content::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.home2-content{
    max-width: 500px;
    overflow-x: scroll;
}
.home2-content h2{
    font-size: 36px;
    text-align: center;
}
.home2-content h3{
    font-size: 42px;
    text-align: center;
    font-family: 'comic sans ms';
}
.home2-content span{
    color: #4E342E;
    font-family: 'comic sans ms';
}
.home2-content h1{
    font-size: 62px;
    line-height: 1.2;
    text-align: center;
    color: #4E342E;
}
.home2-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    text-align: center;
    color: #5C5C5C;
}
.home3{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*gap:3em;
    /*padding: 30px 12% 0;*/
    justify-content: space-around;
    background-color: #D8B597;
}
.home3-content{
    max-width: 500px;
}
.home3-content h3{
    font-size: 42px;
    text-align: center;
    font-family: 'comic sans ms';
}
.home3-content span{
    color: orangered;
    font-family: 'comic sans ms';
}
.home3-content h1{
    font-size: 62px;
    line-height: 1.2;
    text-align: center;
}
.home3-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    text-align: center;
    color: rgb(253, 253, 253);
}
.btn-box{
    width: 500px;
    display: flex;
    gap: 2em;
    text-align: center;
    align-items: center;
}
.btn-1{
    padding: 15px 28px;
    background-color: #E07A5F;
    border: 2px solid #A8E6CF;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1 a {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    color: #A8E6CF;
}
.btn-1:hover{
    background-color: white;
    color: #A8E6CF;
    border: 2px solid #A8E6CF;
    transform: scale(1.1);
}

.btn-2{
    padding: 15px 28px;
    background-color: white;
    border: 2px solid #E07A5F;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2 a {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    color: #E07A5F;
}
.btn-2:hover{
    background-color: #A8E6CF;
    border: 2px solid #E07A5F;
    color: white;
    transform: scale(1.1);
}
.img-box img{
    width: 400px;
    border-radius: 50%;
    box-shadow: #191970;
}
.img-box img:hover{
    color: rgba(255, 255, 255, 0.196);
}
.img-box2 img{
    width: 400px;
    padding: 5px;
    box-shadow: #8D6E63;
}
.img-box2 img:hover{
    color: rgba(255, 255, 255, 0.196);
}
::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: #C47B4E;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 5px;
}
.footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #8D6E63;
    background-position: center;
    background-size: cover;
    border-top: 10px black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid #F2D7B6;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 8px #E07A5F, 0 0 8px #E07A5F;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
}
.footer .social a:hover{
    color: #A8E6CF;
    border: 2px solid #A8E6CF;
    text-shadow: 0 0 25px #A8E6CF,
                 0 0 25px #A8E6CF;
    box-shadow: inset 0 0 5px #A8E6CF, 0 0 5px #A8E6CF;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover,
.footer ul li a.active{
    color: #A8E6CF;
    border-bottom: 2px solid #A8E6CF;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.destinasi {
    margin-bottom: 2rem;
    margin-top: 8rem;
    
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;   
}
.destinasi h2 {
    font-size: 40px;
    margin-bottom: 1rem;
    width: 100%;
    font-family: 'comic sans ms';
    color: #4E342E;
}
.destinasi-line{
    max-height: 600px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow-x: scroll; 
    right: 100px; 
}
.destinasi-line::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.destinasi-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 0.5rem;
    min-width: 300px;
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    
    text-align: center;
    transition: transform 0.3s ease;
    
}

.destinasi-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.destinasi-item h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-family: 'comic sans ms';
}
.destinasi-item p {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.destinasi-item button {
    background-color: #E07A5F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'comic sans ms';
}
.destinasi-item button a{
    color: white;
}
.destinasi-item button:hover {
    background-color: #A8E6CF;
    color: #5C5C5C;
    transform: scale(1.1);
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: orangered;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.iframe-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.blank{
    display: none;
    height: 55px;
    width: 100%;
}
@media(max-width: 760px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: #8D6E63;
        box-shadow: 0 0 10px black;
        width: 30%;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.3s;
        backdrop-filter: blur(10px);
        display: flex;
        padding-top: 11px;
    }
    .nav-item{
        margin: 16px 0; 
        display: flex;
    }
    .img-box{
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .nav-menu.active{
        right: 0;
    }
    .desktop-only{
        display: none;
    }
    .contact{
        display: none;
    }
    .nav-item2{
        margin: 16px 0;
        display: flex;
    }
    .nav-item2 a{
        font-size: 18px;
        color: white;
        font-weight: 500;
        margin: 0 20px;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
        font-family: fantasy;
    }
    .nav-item2 a:hover,
    .nav-item2 a.active{
        color: #A8E6CF;
        text-shadow: 0 0 25px #E07A5F,
                     0 0 25px #E07A5F;
    }
    .blank{
        display: block;
        background-color: #4e342e9b;
        
    }
}
.tgh{
    text-align: center;
    width: 100%;
}
